<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ThymeleafJs Example</title>
  <script src="../dist/thymeleaf.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      
      const template = `
      <html>
      <head></head>
      <body>
        <p th:text="'Simple Text'"></p>
        <p th:text="'Simple Text: ' + {message}">DefaultValue</p>
        <p th:text="'Escaped Text: ' + {messageWelcome}">DefaultValue</p>
        <p th:utext="'Unescaped Text: ' + {messageWelcome}">DefaultValue</p>
        <p th:text="{message}">DefaultValue</p>
        <p th:text="{teacher.active} ? 'ACTIVE' : 'RETIRED'"></p>
        <p th:text="{teacher.active ? 'ACTIVE' : 'RETIRED'}"></p>
        <p th:text="{teacher.subject == 'Mathematics' ? 'You like mathematics' : 'You dont like mathematics'}"></p>
        <p th:if="{teacher.gender == 'M'}">Male</p>
        <p th:unless="{teacher.gender == 'M'}">Female</p>
        <p th:if="{teacher.age &gt; 29 and teacher.age &lt; 49}">Middle age</p>
        <p th:if="{teacher.age gt  29 and teacher.age lt 49}">Middle age</p>
        <div th:object="{friends['Tom Hanks']}" class="box">
          <p><b>Tom Hanks's:</b> <span th:utext="'age: '+ *{age} + ' email: ' + *{email}"></span></p>
          <p><b>Tom Hanks's age:</b> <span th:utext="*{age}"></span></p>
          <p th:object="{children['Colin Hanks']}"><b>Colin Hanks's age:</b> <span th:utext="*{age}"></span></p>
          <p><b>Author's age:</b> <span th:utext="{age}"></span></p>
        </div>
      </body>
    </html>
      `;

      const context = {
      name: 'Vince Ricosti',
      age: 45,
      message: 'ChatGPT is amazing!',
      messageWelcome: 'Welcome to our <b>fantastic</b> grocery store!',
      teacher: {
        "name": "John Smith",
        "gender": "M",
        "age": 35,
        "subject": "Mathematics",
        "active": true,
      },
      friends: {
        'Leonardo DiCaprio': { 
          age: 47, 
          email: 'leo.dicaprio123@gmail.com' 
        },
        'Meryl Streep': { 
          age: 72, 
          email: 'meryl.streep456@yahoo.com' 
        },
        'Tom Hanks': { 
          age: 65, 
          email: 'tom.hanks789@hotmail.com',
          children: {
            'Colin Hanks': {
              age: 45, 
              email: 'colin.hanks253@hotmail.com',
            }
          }
        }
      },
  };


      console.log(ThymeleafJs);
      const output = ThymeleafJs.render(template, context);
      document.getElementById('app').innerHTML = output;
    });
  </script>
</head>
<body>
  <div id="app">
    <!-- !! The ThymeleafJs output will be inserted here !! -->
  </div>
</body>
</html>
